* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #333;
	color: white;
}

.hero-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-image: url('../zadanie10/img/436-600x400.jpg');
	width: 600px;
	height: 400px;
   transition: transform ease-out 1s, color 1s 1s;
}

.hero-img:hover {
    transform: translate(-50%, -50%) rotate(360deg);
    color: gold;
}

.text {
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
}

.hero-bg {
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

