* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #333;
}

div {
	height: 300px;
	width: 300px;
}

.square {
	background-color: tomato;
    animation: square 4s forwards;
}

.circle {
	border-radius: 50%;
	background-color: lime;
    animation: circle 2s 4s;
}

@keyframes square {
	0% {
		height: 300px;
		width: 300px;
		background-color: tomato;
	}
	50% {
		width: 600px;
		height: 300px;
	}
	100% {
		width: 300px;
		height: 600px;
        background-color: gold;
	}
}

@keyframes circle {
    from {
        background-color: lime;
    }
    to {
        background-color: royalblue;
    }
}
