body {
    background-color: #333;
    color: #fff;
    font-size: 36px;
    font-family: 'Comfortaa', cursive;
}

img {
    width: 800px;
    border-radius: 25px;
    margin: 0 auto;
    display: block;
}

div p {
    color: lime;
}

div p  span {
    color: tomato;
    text-decoration: underline;
}